<ion-view title="Home">
	<ion-content scroll="false"
				 class="content-chaminder content-choose">

		<div class="cards">
			<swipe-cards>
				<swipe-card ng-repeat="card in cards"
							on-destroy="cardDestroyed($index)"
							on-card-swipe="cardSwiped($index)">

					<div class="title-container">
						<h3>{{card.name}}</h3>
						<p class="offer">{{card.offer}}</p>
						<p class="distance"><i class="icon ion-android-walk"></i> 200m</p>
					</div>

					<div class="image-container" ng-style="{'background-image':'url('+card.image_url+')'}">
					</div>


				</swipe-card>
			</swipe-cards>
		</div>
		<div class="buttons">

			<div class="button-container">
			<button ng-click="cardSwiped()">
				<i class="icon ion-thumbsdown"></i>
			</button>

				</div>

			<div class="button-container">
			<button ng-click="pick()">
				<i class="icon ion-heart"></i>
			</button>
			</div>

				<div class="button-container">
			<button ng-click="cardDestroyed()">
				<i class="icon ion-thumbsup"></i>
			</button>
				</div>

		</div>
	</ion-content>
</ion-view>


